data/
data2/
build/
/DebugView/compiler/vc14win64/.vs/ConvexDecomposition/v14
/DebugView/ConvexDecomposition.exe.pdb
/DebugView/ConvexDecomposition.ilk
/DebugView/compiler/vc14win64/ConvexDecomposition.VC.db
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/ConvexDe.D0AF22C5.tlog/CL.command.1.tlog
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/ConvexDe.D0AF22C5.tlog/CL.read.1.tlog
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/ConvexDe.D0AF22C5.tlog/CL.write.1.tlog
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/ConvexDecomposition.log
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/VHACD-ASYNC.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/vc140.pdb
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/ConvexDe.D0AF22C5.tlog/CL.command.1.tlog
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/ConvexDe.D0AF22C5.tlog/CL.read.1.tlog
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/ConvexDe.D0AF22C5.tlog/CL.write.1.tlog
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/ConvexDe.D0AF22C5.tlog/ConvexDecomposition.lastbuildstate
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/ConvexDe.D0AF22C5.tlog/link.command.1.tlog
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/ConvexDe.D0AF22C5.tlog/link.read.1.tlog
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/ConvexDe.D0AF22C5.tlog/link.write.1.tlog
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/ConvexDecomposition.Build.CppClean.log
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/ConvexDecomposition.log
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/MergeHulls.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/NvRenderDebugBinding.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/TestHACD.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/VHACD-ASYNC.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/VHACD.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/btAlignedAllocator.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/btConvexHullComputer.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/main.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/vc140.pdb
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/vhacdICHull.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/vhacdManifoldMesh.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/vhacdMesh.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/vhacdVolume.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/release/wavefront.obj
/DebugView/ConvexDecompositionDEBUG.exe
/DebugView/ConvexDecompositionDEBUG.exe.pdb
/DebugView/ConvexDecompositionDEBUG.ilk
/DebugView/compiler/vc14win64/ConvexDecomposition.VC.VC.opendb
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/ConvexDe.D0AF22C5.tlog/ConvexDecomposition.lastbuildstate
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/ConvexDe.D0AF22C5.tlog/link.command.1.tlog
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/ConvexDe.D0AF22C5.tlog/link.read.1.tlog
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/ConvexDe.D0AF22C5.tlog/link.write.1.tlog
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/MergeHulls.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/NvRenderDebugBinding.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/TestHACD.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/VHACD.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/btAlignedAllocator.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/btConvexHullComputer.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/main.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/vhacdICHull.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/vhacdManifoldMesh.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/vhacdMesh.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/vhacdVolume.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/wavefront.obj
/DebugView/compiler/vc14win64/x64/ConvexDecomposition/debug/ConvexDecompositionDEBUG.Build.CppClean.log
/DebugView/compiler/xpj/ConvexDecomposition.bak
/DebugView/compiler/vc14win64
/Win32/Debug/ZERO_CHECK
/Win32/Release/ZERO_CHECK
